.plants-amount {
    background-image: url(../img/plants-amount-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.plants-amount__container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.plants-amount__item-heading, .plants-amount__item-text {
    display: grid;
    justify-content: center;
    text-align: center;
}

.plants-amount__number {
    color: var(--plants-amount-big-text-color);
    font-family: 'Gulzar', sans-serif;
    font-size: 50px;
    margin: 0;
}

.plants-amount__sort {
    color: white;
    font-size: 13px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 3px;
}

.plants-amount__item {
    margin: 30px 0 30px 0;
}

@media (min-width: 768px) {
    .plants-amount__container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 990px) {
    .plants-amount__container {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

