.products-slides {
    background-color: var(--background-light-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.products-slides-container {
    display: block;
    max-width: 1200px;
    margin: auto;
}

.products-slides__carousel {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    align-items: center;
}

.products-slides__card {
    height: 500px;
    width: 100%;
    background-color: var(--background-lightest-color);
    border-radius: 20px;
    border-top: 3px solid var(--text-title-color);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products-slides__image {
    width: 100px;
}

.products-slides__title {
    font-family: 'Gulzar', sans-serif;
    color: var(--text-main-color);
    font-size: 1.5rem;
}

.products-slides__text {
    color: var(--light-description-color);
    font-size: 17px;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.products-slides__learn-more {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-main-color);
    font-size: 15px;
    font-weight: 600;
}

.products-slides__carousel-prev, .products-slides__carousel-next {
    border: none;
    background-color: transparent;
    width: 20px;
}

.products-slides__carousel-prev:hover, .products-slides__carousel-next:hover {
    cursor: pointer;
}

.products-slides__carousel {
    display: grid;
    grid-template-columns: 30px 8fr 30px;

}

@media (min-width: 640px) {
    .products-slides__carousel-slide-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 960px) {
    .products-slides__carousel-slide-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .products-slides__carousel-slide-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}